<% title = "Habit Tracker - Dashboard" %>

<h1>Dashboard</h1>

<form action="/habits/new/<%= user._id%>" method="post">
	<div class="input-group mb-3 mx-auto" style="width: 60rem;">
		<input type="text" class="form-control" name="desc" placeholder="Add a new habit..." aria-label="Add a new habit..." aria-describedby="button-addon2" required>
		<button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add Habit</button>
	</div>
</form>