<div class="col-8 card m-auto mt-5">
    <h2 class="card-title text-center mt-2">Habit Tracker</h2>
    <div class="row">
      <img src="/images/logo.png" class="card-img-top m-auto my-2" style="width: 16rem; height: 15rem;" alt="logo">
    </div>
    <div class="row mt">
    	<a href="/users/login" class="col-4 m-auto btn btn-outline-primary">Login</a>
    </div>
    <div class="row my-2">
      <a href="/users/register" class="col-4 m-auto btn btn-danger">Register</a>
    </div>
</div>
