<% title = "Habit Tracker - Login" %>

<div class="row my-2">
	<img src="/images/login.png" class="m-auto" style="width: 16rem; height: 15rem;" alt="login logo">
</div>

<%- include('./partials/_error_messages') %>

<form action="/users/create-session" class="col-5 m-auto" method="post">
	<div class="mb-2">
		<label for="email" class="form-label">Email:</label>
		<input
			type="email"
			class="form-control"
			id="email"
			name="email"
			required
			value="<%= typeof(email) !== undefined ? email : '' %>"
		>
	</div>
	<div class="mb-2">
		<label for="password" class="form-label">Password:</label>
		<input type="password" class="form-control" id="password" name="password" required>
	</div>
	<button type="submit" class="col-12 btn btn-primary my-3">Login</button>
	<p class="fw-bold">Dont't have an account? &nbsp <a href="/users/register" class="btn btn-sm btn-danger">Register</a>
	</p>
</form>